*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(фон.jpg);
    background-size: cover;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    background: rgb(117,111,100);
background: linear-gradient(93deg, rgba(117,111,100,1) 0%, rgba(208,166,76,1) 55%, rgba(238,229,200,1) 100%);
}

span{
    letter-spacing: 8px;
    font-size: 35px;
}

h1 p{
    font-size: 20px;
}

button{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    border-radius: 15px;
    width: 50%;
    height: 35px;
    align-items: center;
    justify-content: center;
    background-color: rgb(117, 111, 100);
    color: #fff;
    
}



.navright{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

/* main */

main{
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    padding: 2% 6%;
}
main h3{
    display: flex;
    justify-content: center;
    font-size: 27px;

}
main a{
    margin-top: 1%;
    color: #434343;
    font-size: 25px;
}
